/**
 * Fonts
 */
 @font-face {
    font-family: 'Chivo';
    src: url('fonts/Chivo-Light.eot');
    src: url('fonts/Chivo-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Chivo-Light.woff2') format('woff2'),
        url('fonts/Chivo-Light.woff') format('woff'),
        url('fonts/Chivo-Light.ttf') format('truetype'),
        url('fonts/Chivo-Light.svg#Chivo-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Chivo';
    src: url('fonts/Chivo-Bold.eot');
    src: url('fonts/Chivo-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Chivo-Bold.woff2') format('woff2'),
        url('fonts/Chivo-Bold.woff') format('woff'),
        url('fonts/Chivo-Bold.ttf') format('truetype'),
        url('fonts/Chivo-Bold.svg#Chivo-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Chivo';
    src: url('fonts/Chivo-Regular.eot');
    src: url('fonts/Chivo-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Chivo-Regular.woff2') format('woff2'),
        url('fonts/Chivo-Regular.woff') format('woff'),
        url('fonts/Chivo-Regular.ttf') format('truetype'),
        url('fonts/Chivo-Regular.svg#Chivo-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Chivo';
    src: url('fonts/Chivo-Black.eot');
    src: url('fonts/Chivo-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/Chivo-Black.woff2') format('woff2'),
        url('fonts/Chivo-Black.woff') format('woff'),
        url('fonts/Chivo-Black.ttf') format('truetype'),
        url('fonts/Chivo-Black.svg#Chivo-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

