.components-button.image-button {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.wjd-quote .components-button.image-button img {
    max-height: 250px;
}

.components-button.select-images-button {
    outline: 1px solid black;
}

.wp-block[data-type='wjd/card'] {
    padding: 1px 20px;
}

@media (min-width: 600px) {
    .block-editor-block-list__block .block-editor-url-input input[type=text], .block-editor-url-input input[type=text], .components-popover .block-editor-url-input input[type=text] {
        width: 100%;
    }
}